<!-- BEGIN pos -->
<div class="search-container">
	<div class="brand-container">
		<img src="/assets/img/logo.png" alt="{{brandName}}" class="brand-logo" />
		<!-- <h1 class="brand-name">{{brandName}}</h1> -->
	</div>
	<!-- <button class="btn border-0">
		<i class="bi bi-view-list"></i>
	</button> -->
</div>
<!-- <button class="pos-filter-button btn border-0" (click)="openBottomSheet()">
	<i class="bi bi-funnel"></i>
</button> -->

<app-filter-bottom-sheet [isOpen]="isBottomSheetOpenSignal()" (onClose)="openBottomSheet()"></app-filter-bottom-sheet>
