<div class="bottom-sheet-backdrop" *ngIf="isOpen">
    <div class="filter-dialog-container">
        <div class="filter-header">
          FILTER
          <button class="close-btn" (click)="close()"><i class="bi bi-x"></i></button>
        </div>
        <div class="filter-section">
          <h3>Animal Types</h3>
          <div class="form-check" *ngFor="let animalType of animals">
            <input class="form-check-input" type="radio" [id]="animalType" [name]="animalType" [checked]="selectedAnimal === animalType" (change)="onAnimalChange($event)" [value]="animalType">
            <label class="form-check-label" [for]="animalType">{{ animalType }}</label>
          </div>
        </div>
        <div class="filter-section" *ngIf="selectedAnimal">
          <h3>Breeds</h3>
          <div class="form-check" *ngFor="let breed of filteredBreeds">
            <input class="form-check-input" type="radio" [id]="breed._id" [name]="breed._id" [checked]="selectedBreed === breed._id" (change)="onBreedChange($event)" [value]="breed._id">
            <label class="form-check-label" [for]="breed._id">{{ breed.name }}</label>
          </div>
        </div>
        <!-- <div class="slider-section">
          <div class="slider">
            <input type="range" min="0" max="100" [value]="0">
            <span>0</span>
            <button class="increment-btn">+</button>
          </div>
        </div> -->
        <button class="submit-button"  (click)="applyFilters()">APPLY</button>
      </div>
    <!-- <div class="bottom-sheet">
    </div> -->
        <!-- <div class="bottom-sheet-content">
        </div> -->
</div>