<div class="pos-header">
  <div class="logo">
    <a routerLink="/pos/customer-order" *ngIf="posPage === 'home'">
      <div class="logo-img"><img src="/assets/img/pos/cp-logo-icon.png" alt="Homie Pet" /></div>
      <div class="logo-text">Homie Pet</div>
    </a> 
    <card class="btn" routerLink="/pos/customer-order" *ngIf="posPage != 'home'">
      <card-body class="home-btn">
        <div>
          Home
        </div>
      </card-body>
    </card>
  </div>
  <div class="time" id="time">{{ clock }}</div>
  <div class="nav">
    <div class="nav-item">
      <a routerLink="/pos/kitchen-order" class="nav-link">
        <i class="bi bi-bootstrap-reboot nav-icon"></i>
      </a>
    </div>
    <div class="nav-item">
      <a routerLink="/pos/table-booking" class="nav-link">
        <i class="fas fa-braille nav-icon"></i>
      </a>
    </div>
    <div class="nav-item" *ngIf="posPage != 'menu'">
      <a routerLink="/pos/menu-stock" class="nav-link">
        <i class="bi bi-pie-chart nav-icon"></i>
      </a>
    </div>
    <div class="nav-item" *ngIf="posPage === 'menu'">
      <a (click)="onAddMenu.emit(true)" class="nav-link">
        <i class="fas fa-{{isAddMenu ? 'times-circle' : 'plus-circle'}} nav-icon"></i>
      </a>
    </div>
    <div class="nav-item">
      <a class="nav-link">
        <div class=" d-sm-block d-none w-170px">{{email}}</div>
      </a>
    </div>
    <div class="nav-item">
      <a (click)="onLogout()" class="nav-link">
        <i class="fas fa-sign-out-alt nav-icon"></i>
      </a>
    </div>
  </div>
</div>