@media screen and (orientation: landscape) {
    body {
      /* Example: Show a message or hide content */
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f0f0f0;
    }
  
    .landscape-warning {
      display: block;
      font-size: 1.5em;
      color: #333;
      height: 100vh;
      width: 100vw;
      background-color: #f0f0f0;
      img { 
        width: 100%;
        height: 100%;
      }
    }
  
    .app-content {
      display: none;
    }
  }
  
  /* CSS to apply when in portrait mode */
  @media screen and (orientation: portrait), screen and (min-width: 1024px) {
    .landscape-warning {
      display: none;
    }
  
    .app-content {
      display: block;
      height: calc(100vh - 140px) !important;
      overflow: scroll;
    }
  }